* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: var(--color);
}

:root {
  font-family: sans-serif;
}

.theme-light {
  --primary: #1e90ff;
  --bg: #CFCDFB;
  --color: #3C6071;
  background: var(--bg);
  color: var(--color);
}

@media screen and (min-width: 769px) {
  .theme-light {
    background-image: url(/assets/img/bg.svg);
    background-size: cover;
  }
}

.theme-dark {
  --primary: #1e90ff;
  --bg: #4C7081;
  --color: #ffffff;
  background: var(--bg);
  color: var(--color);
}

@media screen and (min-width: 769px) {
  .theme-dark {
    background-image: url(/assets/img/bg-dark.svg);
    background-size: cover;
  }
}

.bg-profile-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 600px;
  z-index: 9;
  opacity: .8;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .bg-profile-img {
    width: 400px;
    height: 400px;
    opacity: .2;
  }
}

header {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 30px 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header .logo span {
  color: var(--primary);
}

header .navbar {
  margin-left: auto;
}

header .navbar a {
  color: white;
  padding: 10px 24px;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
}

header .navbar a svg {
  fill: white;
}

header .navbar a:hover {
  background: var(--bg);
  color: var(--color);
}

@media screen and (max-width: 768px) {
  header .navbar {
    display: none;
  }
}

section {
  width: 100vw;
  height: 100vh;
  padding: 0 5vw;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-me {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1;
}

.about-me h1 {
  width: 100%;
  font-size: 7em;
}

.about-me h1 span {
  color: var(--primary);
}

.about-me h2 {
  padding: 0 5px;
  font-weight: 400;
  width: 100%;
  font-size: 3em;
}

@media screen and (max-width: 768px) {
  .about-me .experience {
    display: none;
  }
}

.about-me .experience-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .about-me .experience-mobile {
    display: block;
  }
}

.about-me .btn-action {
  background: var(--primary);
  color: white;
  padding: 20px 60px;
  font-size: 30px;
  border-radius: 50px;
  margin: 30px 0;
}

.about-me .btn-action:hover {
  opacity: .9;
}

@media screen and (max-width: 768px) {
  .about-me .btn-action {
    padding: 10px 40px;
    font-size: 24px;
    border-radius: 50px;
  }
}

.about-me .sosmed {
  width: 100%;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 2vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-me .sosmed a {
  text-align: left;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.about-me .sosmed a svg {
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .about-me .sosmed a {
    padding: 10px;
  }
  .about-me .sosmed a span {
    display: none;
  }
}

.about-me .sosmed a:hover {
  background: var(--bg);
  color: var(--color);
}

@media screen and (max-width: 768px) {
  .about-me h1 {
    width: 100%;
    font-size: 6em;
  }
  .about-me h1 span {
    color: var(--primary);
  }
  .about-me h2 {
    width: 100%;
    font-weight: 400;
    font-size: 2em;
  }
}

.btn-next-page {
  cursor: pointer;
  position: absolute;
  z-index: 9;
  right: 0;
  bottom: 10px;
  font-size: 1.5em;
  padding: 30px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-next-page svg {
  margin: 0 12px;
}

.btn-next-page:hover {
  color: var(--primary);
}

@media screen and (max-width: 768px) {
  .btn-next-page span {
    display: none;
  }
}
/*# sourceMappingURL=aristyle.css.map */