* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: var(--color);
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.theme-light {
  --primary: #1e90ff;
  --bg: #CFCDFB;
  --color: #3C6071;
  background: var(--bg);
  color: var(--color);
}

@media screen and (min-width: 769px) {
  .theme-light {
    background-image: url(/assets/img/bg.svg);
    background-size: cover;
  }
}

.theme-dark {
  --primary: #47D8E1;
  --bg: #4C7081;
  --color: #ffffff;
  background: var(--bg);
  color: var(--color);
}

@media screen and (min-width: 769px) {
  .theme-dark {
    background-image: url(/assets/img/bg-dark.svg);
    background-size: cover;
  }
}

.bg-profile-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 600px;
  z-index: 9;
  opacity: .8;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .bg-profile-img {
    width: 400px;
    height: 400px;
    opacity: .2;
  }
}

header {
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 30px 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header .logo span {
  color: var(--primary);
}

header .navbar {
  margin-left: auto;
}

header .navbar a {
  color: white;
  padding: 10px 24px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}

header .navbar a svg {
  fill: white;
}

header .navbar a:hover {
  background: var(--bg);
  color: var(--color);
}

@media screen and (max-width: 768px) {
  header .navbar .hide-m {
    display: none;
  }
}

section {
  width: 100vw;
  height: 100vh;
  padding: 0 5vw;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  section {
    height: auto;
  }
}

.about-me {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .about-me {
    height: 720px;
  }
}

.about-me h1 {
  width: 100%;
  font-size: 7em;
}

.about-me h1 span {
  color: var(--primary);
}

.about-me h2 {
  padding: 0 5px;
  font-weight: 400;
  width: 100%;
  font-size: 2.5em;
  letter-spacing: .2rem;
}

@media screen and (max-width: 768px) {
  .about-me .experience {
    display: none;
  }
}

.about-me .experience-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .about-me .experience-mobile {
    display: block;
  }
}

.about-me .btn-action {
  background: var(--primary);
  color: white;
  padding: 10px 40px;
  font-size: 24px;
  border-radius: 50px;
  margin: 30px 0;
  cursor: pointer;
  z-index: 20;
}

.about-me .btn-action:hover {
  opacity: .9;
}

@media screen and (max-width: 768px) {
  .about-me .btn-action {
    padding: 10px 40px;
    font-size: 24px;
    border-radius: 50px;
  }
}

.about-me .sosmed {
  width: 100%;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 5vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-me .sosmed a {
  text-align: left;
  padding: 10px 0;
  border-radius: 30px;
  font-size: 1em;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.about-me .sosmed a svg {
  margin: 0 5px;
}

@media screen and (max-width: 768px) {
  .about-me h1 {
    width: 100%;
    font-size: 6em;
  }
  .about-me h1 span {
    color: var(--primary);
  }
  .about-me h2 {
    width: 100%;
    font-weight: 400;
    font-size: 2em;
  }
}

.btn-next-page {
  cursor: pointer;
  position: absolute;
  z-index: 9;
  right: 0;
  bottom: 10px;
  font-size: 1em;
  padding: 30px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-next-page .circle {
  margin: 0 12px;
  width: 16px;
  height: 16px;
  background: var(--primary);
  border-radius: 30px;
}

.btn-next-page:hover {
  color: var(--primary);
}

@media screen and (max-width: 768px) {
  .btn-next-page {
    display: none;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
}

.services h1 {
  padding: 30px 0;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .services h1 {
    margin: auto;
  }
}

.services h1 span {
  color: var(--primary);
}

.services .right {
  display: block;
}

.services .right .box {
  float: right;
}

@media screen and (max-width: 768px) {
  .services .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.services__item {
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item .box {
  background: radial-gradient(75.85% 168.08% at 25.62% 78.02%, rgba(237, 238, 248, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 30px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .services__item .box {
    margin: auto;
    width: 100%;
  }
}

.services__item .box .text {
  font-size: 1.5rem;
  text-shadow: 10px 10px 10px var(--bg);
  height: 100%;
  padding: 10px;
  font-weight: bold;
}

.services__item .box .text span {
  color: var(--primary);
}

.services__item h1 {
  width: 70%;
  padding: 30px;
  font-weight: normal;
  font-size: 2.3rem;
}

@media screen and (max-width: 768px) {
  .services__item h1 {
    width: 100%;
    font-size: 2rem;
    padding: 30px 0;
  }
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.testimonial h1 {
  width: 100%;
  padding: 30px 0;
  font-size: 2rem;
}

.testimonial h1 span {
  color: var(--primary);
}

.testimonial .client {
  width: 50%;
}

.testimonial .client p {
  padding: 10px 0;
  font-size: 2rem;
  margin-bottom: 30px;
}

.testimonial .client img {
  width: 100px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .testimonial .client {
    width: 100%;
  }
}

.testimonial .box {
  width: 50%;
}

.testimonial .box .glass {
  background: radial-gradient(75.85% 168.08% at 25.62% 78.02%, rgba(237, 238, 248, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 30px;
}

.testimonial .box .comment {
  width: 80%;
  height: 50%;
  margin-left: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial .box .comment p {
  font-size: 2em;
  padding: 30px;
}

.testimonial .box .comment .people {
  padding: 5px;
  border-radius: 100%;
  position: absolute;
  bottom: -50px;
  right: 0;
}

@media screen and (max-width: 768px) {
  .testimonial .box .comment {
    width: 100%;
    height: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .testimonial .box {
    width: 100%;
  }
}

.latest-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.latest-project h1 {
  width: 100%;
  padding-top: 30px;
  font-size: 2rem;
}

.latest-project h1 span {
  color: var(--primary);
}

.latest-project .list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 30px;
}

.latest-project .list .list-item {
  width: 30%;
  margin: 1.5%;
  border-radius: 30px;
  padding: 5px;
  background: radial-gradient(75.85% 168.08% at 25.62% 78.02%, rgba(237, 238, 248, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-project .list .list-item img {
  margin: auto;
  border-radius: 30px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .latest-project .list .list-item {
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .latest-project {
    width: 100%;
    height: auto;
    margin-top: 100px;
  }
}

.latest-blog-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.latest-blog-post h1 {
  width: 100%;
  padding: 30px 0;
  font-size: 2rem;
}

.latest-blog-post h1 span {
  color: var(--primary);
}

.latest-blog-post .list-item {
  width: 100%;
  border-radius: 30px;
  padding: 40px;
  background: radial-gradient(75.85% 168.08% at 25.62% 78.02%, rgba(237, 238, 248, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5em;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .latest-blog-post .list-item {
    font-size: 1.5em;
    padding: 20px;
    margin-bottom: 80px;
  }
}

.latest-blog-post .list-item a {
  border-radius: 30px;
  padding: 30px;
  background: radial-gradient(75.85% 168.08% at 25.62% 78.02%, rgba(237, 238, 248, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 10px;
  font-size: .4em;
  bottom: -50px;
  padding: 10px 30px;
}

.latest-blog-post .sosmed {
  width: 100%;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.latest-blog-post .sosmed a {
  text-align: left;
  padding: 10px 0;
  border-radius: 30px;
  font-size: 1em;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.latest-blog-post .sosmed a svg {
  margin: 0 5px;
}
/*# sourceMappingURL=aristyle.css.map */