*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--color);
}
:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.theme-light{
    --primary: #1e90ff;
    --bg: #CFCDFB;
    --color: #3C6071;
    background: var(--bg);
    color: var(--color);
    @media screen and (min-width:769px){
        background-image: url(/assets/img/bg.svg);
        background-size: cover;
    }
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);


}

.theme-dark {
    --primary: #47D8E1;
    --bg: #4C7081;
    --color: #ffffff;
    background: var(--bg);
    color: var(--color);
    @media screen and (min-width:769px){
        background-image: url(/assets/img/bg-dark.svg);
        background-size: cover;
    }
}

.bg-profile-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    height: 600px;
    z-index: 9;
    opacity: .8;
    background-size: cover;

    @media screen and (max-width:768px){
            width: 400px;
            height: 400px;
            opacity: .2;
    }
}
header{
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100vw;
    padding: 30px 5vw;
    display: flex;
    flex-wrap: wrap;
    & .logo{
            font-size: 24px;
            font-weight: bold;
        & span{
            color: var(--primary);
        }
    }
    & .navbar{

        margin-left: auto;
        & a{
            color: white;
            padding: 10px 24px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 30px;
            cursor: pointer;
            & svg{
                fill: white;
            }
        }
        & a:hover{
           background: var(--bg);
           color: var(--color);
        }

        @media screen and (max-width:768px){
            & .hide-m{
                display: none;
            }
        }
    }
}

section{
    width: 100vw;
    height: 100vh;
    padding: 0 5vw;
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width:768px){
        height: auto;
    }
}

.about-me{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    z-index: 1;
    @media screen and (max-width:768px){
        height: 720px;
    }
    & h1{
        width: 100%;
        font-size: 7em;
        & span {
            color: var(--primary);
        }
    }
    & h2{
        padding:0 5px;
        font-weight: 400;
        width: 100%;
        font-size: 2.5em;
        letter-spacing: .2rem;
    }
    & .experience{
        @media screen and (max-width:768px){
            display: none;
        }
    }
    & .experience-mobile{
        display: none;
        @media screen and (max-width:768px){
            display: block;
        }
    }
    & .btn-action{
        background: var(--primary);
        color: white;
        padding: 10px 40px;
        font-size: 24px;
        border-radius: 50px;
        margin: 30px 0;
        cursor: pointer;
        z-index:20;
        
        &:hover{
            opacity: .9;
        }
        @media screen and (max-width:768px){
            padding: 10px 40px;
            font-size: 24px;
            border-radius: 50px;
        }
    }
    & .sosmed{
        width: 100%;
        padding: 30px 0;
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 5vw;
        flex-wrap: wrap;
        & a{
            text-align: left;
            padding: 10px 0;
            border-radius: 30px;
            font-size: 1em;
            padding-right: 10px;
            display: flex;
            cursor: pointer;
            & svg{
                margin: 0 5px;
            }
        }
    }

    @media screen and (max-width:768px){
       & h1{
            width: 100%;
            font-size: 6em;
            & span {
                color: var(--primary);
            }
        }
        & h2{
            width: 100%;
            font-weight: 400;
            font-size: 2em;
        }

    }
}

.btn-next-page{
    cursor: pointer;
    position: absolute;
    z-index: 9;
    right: 0;
    bottom: 10px;
    font-size: 1em;
    padding: 30px 24px;
    display: flex;
    & .circle{
        margin: 0 12px;
        width: 16px;
        height: 16px;
        background: var(--primary);
        border-radius: 30px;
    }
    &:hover{
        color: var(--primary);
    }

    @media screen and (max-width:768px){
        display: none;
    }
}


.services{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    & h1{
        padding: 30px 0;
       font-size: 2rem;
        @media screen and (max-width:768px){
            margin: auto;
        }
        & span{
            color: var(--primary);
        }
    }
    & .right{
        display: block;
        & .box{
            float: right;
        }
        @media screen and (max-width:768px){
            display: flex;
        }
    }
    &__item{
        width: 100%;
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        
        & .box{
            background: radial-gradient(75.85% 168.08% at 25.62% 78.02%, rgba(237, 238, 248, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            backdrop-filter: blur(100px);
            border-radius: 30px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 30%;
            @media screen and (max-width:768px){
                margin: auto;
                width: 100%;
            }
            & .text {
                font-size: 1.5rem;
                text-shadow: 10px 10px 10px var(--bg);
                height: 100%;
                padding: 10px;
                font-weight: bold;
                & span{
                    color: var(--primary);
                }
            }
        }
        h1{
            width: 70%;
            padding: 30px;
            font-weight: normal;
            font-size: 2.3rem;
            @media screen and (max-width:768px){              
                width: 100%;
                font-size: 2rem;
                padding: 30px 0;;
            }
        }
       
    }
}

.testimonial{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    & h1{
        width: 100%;
        padding: 30px 0;
        font-size: 2rem;
        & span{
            color: var(--primary);
        }
    }
    & .client{
        width: 50%;
      
        & p{
            padding: 10px 0;
            font-size: 2rem;
            margin-bottom: 30px;
        }
        & img{
            width: 100px;
            padding:10px
        }

        @media screen and (max-width:768px){ 
            width: 100%;
        }
    }
    & .box{
        width: 50%;
        & .glass{
            background: radial-gradient(75.85% 168.08% at 25.62% 78.02%, rgba(237, 238, 248, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            backdrop-filter: blur(100px);
            border-radius: 30px;
        }
        & .comment{
            width: 80%;
            height: 50%;
            margin-left: auto;
            position: relative;
            display: flex;
            align-items: center;
            & p{
                font-size: 2em;
                padding: 30px;
            }
            & .people{
                padding: 5px;
                border-radius: 100%;
                position: absolute;
                bottom: -50px;
                right: 0;
            }
            @media screen and (max-width:768px){ 
                width: 100%;
                height: 100%;
                margin-top: 30px;
            }
        }
        @media screen and (max-width:768px){ 
            width: 100%;
        }
    }
}

.latest-project{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    & h1{
        width: 100%;
        padding-top: 30px;
        font-size: 2rem;
        & span{
            color: var(--primary);
        }
    }
    & .list{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-bottom: 30px;
        .list-item{
            width: 30%;
            margin: 1.5%;
            border-radius: 30px;
            padding: 5px;
            background: radial-gradient(75.85% 168.08% at 25.62% 78.02%, rgba(237, 238, 248, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            backdrop-filter: blur(100px);
            border-radius: 30px;
            display: flex;
            & img{
                margin: auto;
                border-radius: 30px;
                width: 100%;
            }
            @media screen and (max-width:768px){ 
                width: 100%;
                margin-top: 30px;
            }
        }
    }
    @media screen and (max-width:768px){ 
        width: 100%;
        height: auto;
        margin-top: 100px;
    }
}

.latest-blog-post{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    & h1{
        width: 100%;
        padding: 30px 0;
        font-size: 2rem;
        & span{
            color: var(--primary);
        }
    }
    .list-item{
        width: 100%;
        border-radius: 30px;
        padding: 40px;
        background: radial-gradient(75.85% 168.08% at 25.62% 78.02%, rgba(237, 238, 248, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        backdrop-filter: blur(100px);
        border-radius: 30px;
        display: flex;
        font-size: 2.5em;
        padding-bottom: 50px;
        margin-bottom: 100px;
        @media screen and (max-width:768px){ 
            font-size: 1.5em;
            padding: 20px;
            margin-bottom: 80px;
        }
        & a{
            border-radius: 30px;
            padding: 30px;
            background: radial-gradient(75.85% 168.08% at 25.62% 78.02%, rgba(237, 238, 248, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            backdrop-filter: blur(100px);
            border-radius: 100px;
            display: flex;
            position: absolute;
            left: 10px;
            font-size: .4em;
            bottom: -50px;
            padding: 10px 30px;
           
        }
    }
    & .sosmed{
        width: 100%;
        padding: 30px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        & a{
            text-align: left;
            padding: 10px 0;
            border-radius: 30px;
            font-size: 1em;
            padding-right: 10px;
            display: flex;
            cursor: pointer;
            & svg{
                margin: 0 5px;
            }
        }
    }
}