*{
    margin: 0;
    padding: 0;
}
body{
    background: radial-gradient(45.39% 57.87% at 9.65% 25.83%, #D9D9AC 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(41.68deg, #79BB62 3.73%, rgba(255, 255, 255, 0) 78.98%), radial-gradient(192.89% 485.61% at 75.56% 72.67%, rgba(162, 212, 222, 0.62) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    font-family: sans-serif;
    color: #7C8684;
    z-index: 1;
}
.index{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    z-index: 2;
    flex-wrap: wrap;
    position: relative;

}

.glass{
    background: linear-gradient(114.36deg, rgba(231, 236, 238, 0.7) -7.79%, rgba(255, 255, 255, 0) 129.74%);
    box-shadow: 0 24px 120px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(7.08363px);
}

.circle{
    position: absolute;
    border-radius: 50%;
}
.circle-1{
    width: 70px;
    height: 70px;
    right: 0;
    top: 0;
    z-index: 0
}

.circle-2{
    width: 50px;
    height: 50px;
    left: 0;
    bottom: 0;
    z-index: -5
}

.avatar{
    margin-top: -50px;
    width: 100px;
    box-shadow: 0 24px 120px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
}
.index section{
    position: absolute;
    bottom: 80px;
    text-align: center;
    font-size: .8rem;
}

.index a{
    position: absolute;
    bottom: 30px;
}
.btn{
    text-align: center;
    padding: 8px 16px;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
    font-size: .9rem;
    color: #7C8684;
}
nav{
    width: 100%;
    position: absolute;
    bottom: 30px;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav a{
    margin: 5px 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 



@media screen and (min-width:700px){
    .circle-1{
        width: 150px;
        height: 150px;
    }
    .circle-2{
        width: 100px;
        height: 100px;
    }
    .index{
        width: 450px;
        height: 450px;
    }
    .avatar{
        width: 150px;
    }
    .index section{
        bottom: 120px;
        font-size: 1rem;
    }
    .index a{
        bottom: 60px;
    }
    .btn{
        padding: 10px 20px;
        font-size: 1rem;
    }
    .btn:hover{
       transform: scale(1.1);
       transition: ease-in-out;
    }


}